*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Poppins" , serif;
}


.hero-text {
    color: #1A5062;
    text-transform: capitalize;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.btn {
    color: white;
    background-color: #1A5062;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;

    box-shadow: 0 0 1rem #1A5062;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}

::placeholder {
    opacity: 1;
  }

input {
    font-family: "Poppins" , serif;
}