.container {
    margin: 2rem auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* min-height: 900px;
    min-width: 750px; */
}

.header1 {
    border-top: 3px solid black;
    margin: 0%;
    padding-top: 1rem;
}

.header2 {
    text-transform: uppercase;
}

.header3 {
    margin: 0%;
}

p {
    margin: 0;
}

.workExperience h3 {
    display: inline;
}

.description {
    margin-top: 0.5rem;
}