.container {
    height: 100vh;
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 28% 64%, hsla(192,16%,93%,1) 0px, transparent 50%),
    radial-gradient(at 67% 6%, hsla(190,30%,89%,1) 0px, transparent 50%),
    radial-gradient(at 18% 4%, hsla(197,61%,74%,1) 0px, transparent 50%);
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    align-items: center;

}

.cover1 {
    position: absolute;
    top: 0;
    right: 0;
}

.cover2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 10%;
    width: 50%;
    z-index: 1;
}

.container h1 {
    line-height: 110%;
}

.content p {
    width: 60%;
}

.navbar {
    display: flex;
    position: absolute;
    left: 10%;
    top: 10%;
   
    width: 60vw;
    justify-content: space-between;
    color: white;
}

.logo {
    color: #1A5062;
    font-family: "Poppins" , serif;
    font-weight: 800;
}

.links {
    display: flex;
    gap: 30px;
}

.signUp {
    font-weight: 800;
    font-family: "Poppins" , serif;

    color: #355D6F;
    background-color: transparent;

    border: 2px solid #355D6F;
    border-radius: 20px;

    transition: transform 0.2s;
    padding: 10px 20px;
}

.login {
    font-weight: 800;
    font-family: "Poppins" , serif;

    color: white;
    background-color: #355D6F;

    border: none;
    border-radius: 20px;

    transition: transform 0.2s;
    padding: 10px 30px;
}

.login:hover , .signUp:hover {
    transform: scale(1.05);
}